.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.button {
  margin-right: 0.9rem;
  color: white;
  border: none;
  background-color: inherit;
}

main {
  display: flex;
  flex-direction: column;
}
