.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 500px;
}

.loginForm {
  width: 100%;
  margin: 1rem;
}

.loginButton {
  width: 100%;
  padding: 0.4rem 0.5rem;
  margin-right: 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #ffffff80;
  backdrop-filter: blur(1px);
  box-shadow: 0rem 0.1rem 0.4rem #00000050;
  cursor: pointer;
}

.loginLinkButton {
  padding: 0.4rem 0.5rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
